<div class="container mt-3">
  <div class="row justify-content-between">
    <%= render 'books/title', user: @user, new_book: @new_book %>

    <div class="col-md-8 offset-md-1">
      <h2>Groups</h2>
        <table class="table table-borderless">
          <thead class="border-top">
            <tr class="border-2 border-top-0 border-end-0 border-start-0">
              <th></th>
              <th class="px-3 fw-bold">グループ名</th>
              <th class="px-3 fw-bold">紹介文</th>
              <th class="px-3 fw-bold">メンバー数</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @groups.each do |group| %>
              <tr class="border-top">
                <td class="py-3">
                  <%= image_tag group.get_group_image(80,80) %>
                </td>
                <td class="p-3">
                  <%= link_to group.name, group_path(group), class: "link-underline link-underline-opacity-0 link-underline-opacity-100-hover" %>
                </td>
                <td class="p-3"><%= group.introduction %></td>
                <td class="p-3"><%= group.members.count %></td>
                <td class="p-3">
                  <% if group.owner == Current.user %>
                    <%= link_to "Edit", edit_group_path(group), class: "btn btn-signup text-white rounded-1 px-2 py-1" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>