<div class="col-md-3">
  <h2>User info</h2>
  <%= image_tag user.get_profile_image(100,100) %>
  <table class="table table-borderless">
    <tr class="border-top">
      <th class="py-3">
        name
      </th>
      <td class="fw-bold py-3">
        <%= user.name %>
      </td>
    </tr>
    <tr class="border-top">
      <th class="py-3">
        introduction
      </th>
      <td class="fw-bold py-3">
        <%= user.introduction %>
      </td>
    </tr>
    <tr class="border-top">
      <th class="py-3">
        follows
      </th>
      <td class="fw-bold py-3">
        <%= link_to "#{user.following.count}", following_user_path(user), class: "link-underline link-underline-opacity-0 link-underline-opacity-100-hover" %>
      </td>
    </tr>
    <tr class="border-top">
      <th class="py-3">
        followers
      </th>
      <td class="fw-bold py-3">
        <%= link_to "#{user.followers.count}", followers_user_path(user), class: "link-underline link-underline-opacity-0 link-underline-opacity-100-hover" %>
      </td>
    </tr>
  </table>
  <%= render 'users/follow_form', user: user %>
  <h2 class="mt-4">New book</h2>
  <%= form_with model: new_book, url: books_path do |f| %>
    <div class="mb-2">
      <%= f.label :title, class: "mb-2" %><br>
      <%= f.text_field :title, class: "rounded-1 border-1 border-secondary-subtle form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :body, "Opinion", class: "mb-2" %><br>
      <%= f.text_area :body, class: "rounded-1 border-1 border-secondary-subtle form-control" %>
    </div>
    <div class="mb-3">
      <label>Rate</label>
      <div id="post_raty"
            data-star-on="<%= asset_path('raty/star-on.png') %>"
            data-star-off="<%= asset_path('raty/star-off.png') %>"
            data-star-half="<%= asset_path('raty/star-half.png') %>">
      </div>
    </div>
    <div>
      <%= f.submit "Create Book", class: "btn btn-signup text-white rounded-1 fs-6" %>
    </div>
  <% end %>
</div>