<%= tag.div(flash[:alert]) if flash[:alert] %>
<%= tag.div(flash[:notice]) if flash[:notice] %>

<div class="container mt-3">
  <div class="row justify-content-between">
    <%= render 'title', user: @user, new_book: @new_book %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-borderless table-fixed">
        <tr class="border-top">
          <td>
            <%= link_to user_path(@book.user), class: "link-underline link-underline-opacity-0 link-underline-opacity-100-hover" do %>
              <%= image_tag @book.user.get_profile_image(100,100) %><br>
              <%= @book.user.name %>
            <% end %>
          </td>
          <td>
            <%= link_to @book.title, book_path(@book.id), class: "link-underline link-underline-opacity-0 link-underline-opacity-100-hover" %>
          </td>
          <td>
            <%= @book.body %>
          </td>
          <%= render 'favorites/favorite', book: @book %>
          <td>
            コメント数: <%= @book.book_comments.count %>
          </td>
          <% if @user == Current.user %>
            <td>
              <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-signup text-white rounded-1 px-2 py-1" %>
            </td>
            <td>
              <%= link_to "Destroy", book_path(@book), data: { turbo_method: :delete, turbo_confirm: "本当に消しますか？"}, class: "btn btn-danger text-white rounded-1 px-2 py-1" %>
            </td>
          <% end %>
        </tr>
      </table>
      <%= render 'book_comments/book_comments', book: @book %>
      <%= render 'book_comments/form', book: @book, book_comment: @book_comment %>
    </div>
  </div>
</div>
