<div>
  <%= tag.div(flash[:alert]) if flash[:alert] %>
  <%= tag.div(flash[:notice]) if flash[:notice] %>
</div>

<%= render 'title', user: @user, new_book: @new_book %>

<h2>Book detail</h2>
<div class="show-contents">
  <%= link_to user_path(@book.user) do %>
    <%= image_tag @book.user.get_profile_image(100,100) %>
    <%= @book.user.name %>
  <% end %>
  <span><%= @book.title %></span>
  <span><%= @book.body %></span>
</div>
<% if @user == Current.user %>
  <div class="edit-button">
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <%= link_to "Destroy", books_path, data: { turbo_method: :delete, turbo_confirm: "本当に消しますか？"} %>
  </div>
<% end %>